---
layout: base
---
.row
  .span8
    .page-header 
      %h1 
        awestruct on github:pages
        %small a brief howto

    .step
      %h2 Install awestruct &amp; create a new site
      %p 
        If you've already got an awestruct site that you want to publish, skip
        on ahead.  If you haven't installed awestruct yet, do that. It's just a
        gem install. Then create a new awestruct site.

        %pre 
          :preserve
            $ gem install awestruct
            $ awestruct -i -f bootstrap # Use the Twitter Bootstrap template

        Make whatever changes you want to your new website. Init and commit
        your git repo and push to github.

    .step
      %h2 
        Add a deployment profile
      %p
        Open up your 
        %code _config/site.yml 
        file and add a deployment profile.
        Set
        %code host
        to
        %code github_pages
        and set the
        %code base_url
        to the github pages URL. This can be your own domain if you
        set it up correctly in github. In our example, it's just the
        default domain that github provides.  
        %pre
          :preserve
            profiles: 
              production: 
                base_url: http://awestruct.github.com/github_pages 
                deploy: 
                  host: github_pages 

    .step
      %h2 Deploy
      %p 
        Congratulations, you're done!  To deploy just type
        %code awestruct -P production --deploy
        and your site will be generated, added to the 
        %code gh-pages
        branch, committed, and pushed. 
      %pre
        :preserve
          $ awestruct -P production --deploy
          deploying to 'production'
          publishing to github pages
          deploy finished
  .span4
    .hero-unit
      %p 
        This site is created with 
        %a{:href=>'http://awestruct.org'} awestruct 
        &amp; published on GitHub
        %a{:href=>'http://pages.github.com/'} pages.
      %p
        How cool is that?
      %p
        %a.btn.btn-primary.btn-large{ :href=>'http://awestruct.org' } Learn more &raquo; 

    %section
      %h2 About
      %p 
        Awestruct is a framework for creating static HTML sites. It's inspired
        by the awesome Jekyll utility in the same genre. 

    %section
      %h2 Goal
      %p 
        The goal of Awestruct is to make it trivially easy to bake out
        non-trivial static websites. In addition to providing template-driven
        site creation (using Haml), Awestruct provides facilities for easily
        priming the site creation with additional non-page data. 

    %section
      %h2 Concept
      %p 
        The core concept of Awestruct is that of structures, specifically Ruby
        OpenStruct structures. The struct aspect allows arbitrary, schema-less
        data to be associated with a specific page or the entire site.  

